<template>
  <div id="app">
    <img alt="Vue logo" :src="logopng" />
    <p>root url: {{ rooturl }}</p>
    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import HelloWorld from "./components/HelloWorld.vue";
import { rooturl } from "./rooturl";

export default defineComponent({
  name: "App",
  components: {
    HelloWorld
  },
  setup() {
    return {
      logopng: rooturl + "/logo.png"
    };
  }
});
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
